:root {
    --cor-primaria: #333;
    --texto-claro: #bfc4cc;
    --texto: #5a636c;
    --cinza: #f4f4f4;
    --radius: 8px;
    --cor-borda: #ccc;
}

.div-1{
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.div-textarea{
    width: 100%;
    height: 20%;
}

button{
    margin-top: 50px;
}


/** MEDIA QUERY *************************************************/

@media screen and (orientation: portrait) {
    .orientacao{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
      
}


@media screen and (orientation: landscape) {
    .orientacao{
        display: flex;
        flex-direction: row;
    }

    .div-1, .div-2{
        width: 50%;
        height: 100%;
    }
}