
/* GERAL *****************/

:root {
    --cor-primaria: #1d242e;
    --texto-claro: #bfc4cc;
    --texto: #5a636c;
    --cinza: #f4f4f4;
    --radius: 8px;
    --cor-borda: #ccc;
}

p, a, h1, h2, h3, label, option{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    padding-left: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

button {
    min-width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: orange;
    color: #000;
}

.colum{
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;    
}


/* HEADER *****************/

.header{
    display: flex;
    width: auto;
    height: 60px;
    flex-direction: row;
    align-items: center;
    align-self: start;
    padding: 10px;
    background-color: #f4f4f4;
}

.header img{
    width: 50px;
    height: 50px;   
    margin-left: 10px;
    margin-right: 10px;
    
}

.header-back img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.txt-logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#id-tipo-user{
    margin-top: 10px;
    margin-left: 10px;
}

.exibir {
    display: block;
}


/* CORPO *****************/

.corpo{
   padding: 20px;
   overflow: hidden;
}


/* LOGIN *****************/
.login-container {
    width: 300px;
    height: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: var(--radius);
    border-color: var(--cinza);
    border: 1px solid #ccc;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-txt-logo{
    margin-top: -5px;
    text-align: center;
}

.login-form h1{
    text-align: center;
}

.txt-login {
    text-align: start;
    color: #333;
}


/* HOME *****************/
.home-user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: var(--radius);    
}

.home-user img{
    width: 30px;
    height: 30px;
}

.home-tipo-user{
    display: flex;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.txt-tipo{
    font-size: 16px;
}

.opcoes {
    margin-top: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espaçamento entre as células */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: var(--radius);    
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.grid-item:hover{
    background-color: orange;
}

/* TEXTFIELD *******************/

.div-textfield{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 15px;
}

.div-textfield label{
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--radius);

}

#dt-nascimento, #dt-nasc, #tel-2{
    width: 95%;
}

/* TEXTAREA *******************/

.div-textarea{
    margin-top: 20px;
    margin-bottom: 40px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none; 
    border: 1px solid #ccc;
    border-radius: var(--radius);
    margin-top: 5px;
}

#div-atualizacao{
    margin: 30px;
}

#div-atualizacao textarea{
    height: 150px;
}

/* DROPDOWN *******************/

.dropdown-container{
    width: 100%;
    margin-top: 10px;
    
}

#selectOptions{
    width: 100%;
    padding: 8px;
    border-radius: var(--radius);
    border: 1px solid #ccc;
    font-size: 12px;
}

.div-icon{
    width: 35px;
    height: 35px;
    background-color: #ccc;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 5px;
}

.div-icon img{
    width: 25px;
    height: 25px;
}

#id-drop-genero{
    margin-top: 8px;
}

#id-drop-perfil{
    margin-right: 10px;
}


.titulo-pag{
    font-size: 18px;
    margin-top: 0px;
}

.desc-pag{
    font-size: 12px;
    color: var(--texto-claro);
    margin-top: -10px;
    font-weight: normal;
    margin-bottom: 50px;
}


#filtro{
    width: 250px;
    margin-bottom: 30px;
}



/* CHECKBOX *******************/

.checkbox-container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container input{
    margin-right: 10px;
}

/* FOTO *******************/

.div-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    margin-bottom: 20px;
    margin-top: -20px;
}

.div-foto img{
    width: 35px;
    height: 35px;
}

